<div class="footer-container">
  <div class="navbar-footer">
    <ul class="navbar-list">
      <li class="navbar-item ">
        <%= link_to svg_tag('home_icon', alt: 'Home'), root_path, class: "#{'active-icon' if current_page?(root_path)}" %>
        </li>
      <li class="navbar-item">
        <%= link_to svg_tag('map', alt: 'Map'), map_path, class: "#{'active-icon' if current_page?(map_path)}" %>
      <li class="navbar-item">
        <%= link_to svg_tag('barcode', alt: 'Scan'), new_product_path, class: "#{'active-icon' if current_page?(new_product_path)}" %>
      <li class="navbar-item">
        <%= link_to svg_tag('score', alt: 'Score'), score_path, class: "#{'active-icon' if current_page?(score_path)}" %></li>
      <li class="navbar-item">
        <%= link_to svg_tag('list', alt: 'List'), products_path, class: "#{'active-icon' if current_page?(products_path)}" %></li>
    </ul>
  </div>
</div>
