<div class="homepage-container">

  <div class="option-card">

    <div class= "searchbar-container">
      <%= form_with url: recycling_spot_infos_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              placeholder: "Chercher un materiau...",
              class: "search-bar"
          %>
        <%= button_tag(type: 'submit', class: "looking-btn") do %>
          <i class='fa-solid fa-magnifying-glass loupe'></i>
        <% end %>
      <% end %>
    </div>


    <% if user_signed_in? %>
      <%= link_to new_product_path, class: "pushable booking-btn-link" do %>
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">
            <div class="focus">
              <div class="focus--mask">
                <div class="focus--mask-inner">SCAN</div>
              </div>
            </div>
          </span>
        <!-- </button> -->

      <% end %>
    <% else %>

      <%= link_to new_user_session_path, class: "booking-btn-link"  do %>
        <div class="booking-btn">
          <p>Log in to scan!</p>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="option-card">
    <p class="margin-p">Production de CO2 (kg/sem):</p>

    <div class="counter">
      <div class="counter-item">0</div>
      <div class="counter-item">2</div>
      <div class="counter-item">1</div>
      <div class="counter-item">9</div>
    </div>

  </div>
</div>
