<div class="homepage-container">

  <div class="option-card">

    <div class= "searchbar-container">
      <%= form_with url: recycling_spot_infos_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              placeholder: "Chercher un matériau...",
              class: "search-bar"
          %>
        <%= button_tag(type: 'submit', class: "looking-btn") do %>
          <i class='fa-solid fa-magnifying-glass loupe'></i>
        <% end %>
      <% end %>
    </div>


    <% if user_signed_in? %>
      <%= link_to new_product_path, class: "pushable booking-btn-link" do %>
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">
            <div class="focus">
              <div class="focus--mask">
                <div class="focus--mask-inner">SCAN</div>
              </div>
            </div>
          </span>
        <!-- </button> -->

      <% end %>
    <% else %>

      <%= link_to new_user_session_path, class: "booking-btn-link"  do %>
        <div class="booking-btn">
          <p>Log in to scan!</p>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="option-card">
    <h3 class="margin-p2">Vous avez économisé :</h2>
    <% total_carbon = 0 %>
    <% Product.all.each do |product| %>
      <% total_carbon += product.carbon.to_f %>
    <% end %>
    <div class="co2-display1">
      <%= image_tag 'co2_cloud.png', width: "50px", height: "50px", class: 'co2-image' %>
      <%= (total_carbon/1000).round(2) %>kg de CO²
    </div>
    <div class="co2-display2">
      <%= image_tag 'co2_car.svg', class: 'co2-image' %>
      Equivalant à <%= (((36000 + total_carbon) * 5)/1000).round(1) %> km en voiture
    </div>
  </div>
</div>
