<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="ZXing for JS">

  <title>Green Bin</title>

  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null"
    href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null"
    href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
  <%# <link rel="stylesheet" rel="preload" as="style" onload="this.rel='stylesheet';this.onload=null"
    href="https://unpkg.com/milligram@1.3.0/dist/milligram.min.css"> %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'barcode_scanner' %>
</head>

<body id="no-scroll" data-controller="product">

  <div class="scan-window">
    <video id="video"></video>
    <div id="product-card" class="d-none"></div>
  </div>

  <%# This div should only be displayed for test purposes %>
  <div id="sourceSelectPanel" style="display: none">
    <label for="sourceSelect">Change video source:</label>
    <select id="sourceSelect" style="max-width:400px">
    </select>
  </div>

  <%# This div should only be displayed for test purposes %>
  <div style="display: none">
    <label>Result:</label>
    <pre><code id="result"></code></pre>
  </div>

  <%# Form is not displayed but is used to create products seemlessly in the background %>
  <div style="display: none">
    <%= form_with(model: @product, url: products_path( format: :json ), method: :post, local: true, id: "product-form") do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, id: "product_name" %>
      <%= f.label :image_url %>
      <%= f.text_field :image_url, id: "product_image_url" %>
      <%= f.label :material %>
      <%= f.text_field :material, id: "product_material" %>
      <%= f.label :description %>
      <%= f.text_field :description, id: "product_description" %>
      <%= f.submit "Create Product" %>
    <% end %>
  </div>

  <%# Script from ZXing library (Used to detect and scan barcodes) %>
  <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest/umd/index.min.js"></script>

  <%# Footer displayed (add d-none class if you want to hide) %>
  <%= render "shared/footer_custom" %>

</body>
</html>
