<!DOCTYPE html>
<html>
  <head>
    <title>GreenBin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# Progressive Web App (See Thomas for more info) %>
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
  </head>

  <body>
    <%# <%= render "shared/navbar" %>
    <%= render "shared/navbar_custom" %>
    <%= render "shared/flashes" %>

    <%= yield %>

    <%= render "shared/footer_custom" %>
  </body>
</html>
